
<link rel="stylesheet" href="/css/home.css">
<h1>
    MessageBook / Profile Page
</h1>

    <!-- <%-include('_header');%>
    <% for(let i=0;i<5;i++){ %>
     <%=i%>
    <br>
    <%}%>
    <%-include('_footer');%> -->
    
<p><%=user.name%></p>
<p> <%=user.email%></p>
<p><%=user.timestamp%></p>